.navbar {
    @apply absolute h-20 flex w-full;
}
.navbar-container {
    @apply flex-1 self-stretch p-8;
    @apply flex items-center justify-between;
}

.logo {
    @apply h-5;
}
@screen lg { .logo { @apply h-7; } }
.logo img {
    @apply max-h-full;
}

.navigation,
.navigation::before, 
.navigation::after {
    @apply w-5 bg-white;
    height: 1px;
}
.navigation {
    @apply relative;
}
.navigation::before, .navigation::after {
    @apply block absolute;
    content: '';
}
.navigation::before {
    top: -0.375em;
}
.navigation::after {
    top: 0.375em;
}

.navigation-list {
    @apply hidden;
}

@screen lg {
    .navigation::before,
    .navigation::after {
        @apply hidden;
    }
    .navigation {
        @apply bg-transparent h-auto w-auto;
    }
    .navigation-list {
        @apply flex;
    }
    .navigation-list li {
        @apply ml-10 text-body-inverted font-highlighted inline-block;
        @apply border-b border-transparent translate-y-px;
        @apply transition-all duration-150 ease-in-out;
    }
    .navigation-list li:hover {
        @apply border-secondary;
    }
}